<!doctype html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> site name |{% block title %}{% endblock title %} </title>

    {% tailwind_css %}
    {% block css %} {% endblock css %}
</head>
<body>
   <header>
        {% include 'includes/topbar/index.html' %}
        {% include 'includes/navbar/index.html' %}
   </header>


    <main>
        {% block content %} {% endblock content %}
    </main>

    {% block scripts %} {% endblock scripts %}

     <footer>
         {% include 'includes/footer/index.html' %}
     </footer>
</body>
</html>